<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>680882923874-bvck9e3qfussa524j6coq9e0qshusa16.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.680882923874-bvck9e3qfussa524j6coq9e0qshusa16</string>
	<key>API_KEY</key>
	<string>AIzaSyBfnVl1MDjMHd1kybRthdrd8_fFz6cum0g</string>
	<key>GCM_SENDER_ID</key>
	<string>680882923874</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>WeProvideApp</string>
	<key>PROJECT_ID</key>
	<string>weprovide-9cab0</string>
	<key>STORAGE_BUCKET</key>
	<string>weprovide-9cab0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:680882923874:ios:456e5de0c22f6072cae43b</string>
</dict>
</plist>